body {
	margin:0;
	font-family: 'Carme';
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#6f4e37;
	color: white;
    position: fixed;
    top: 0;
    width: 100%;
	z-index:1;
}
li {
    float: right;
	font-size: 18px;
	font-variant: small-caps;	
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 5px;
	margin: 20px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    border-bottom: 2px solid white;
}
.active {
    border-bottom: 2px solid white;
}
#danekontakt {
	float:left;
	margin-top:20px;
}
.conteiner {
	padding-top:40px;	
}
/*menu mobilne*/
#mobil-menu {
	display:none;
}
@media screen and (max-width: 670px) {
	#mobil-menu {
		display:initial;
	}
	.menu {
		display:none;
	}
	#smallmenu {
		display:none;
		background-color:#6f4e37;
		color: white;
		font-variant: small-caps;
		width:100%;
		padding-top:30px;
		text-align:center; 	
	}
	.part-menu a {
		color: white;
		text-decoration:none;
		padding:6px;
		display:block;
	}
	#naglowek {
		background-color:#6f4e37;
		color: white;
		width:100%;
		height:50px;
		position: -webkit-sticky;
		position: fixed;
		z-index:1;
	}
	#logo1 {
		float:left;
		max-height:70px
	}
	.menu-symbol {
		display: inline-block;
		cursor: pointer;
		float:right;
		margin:4px 10px;
	}

	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: #fff;
		margin: 6px 0;
		transition: 0.4s;
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(45deg) translate(-9px, -6px);
	}
	.conteiner {
		padding-top: 50px;
	}
}


 /*ending mobile menu*/

#main_con {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
#hello {
	font-size:30px;
	}

#text_block {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 204,0.8);
    color: #4d0000;
    height:200px;
    width: 400px;
    text-align:center;
    font-size: 18px;
    padding-top:20px;
} 

@media screen and (max-width: 600px) {
	#text_block {
		height:150px;
		width:250px;
		font-size:15px;
	}
	#hello {
		font-size:25px;
	}
}

/*projekt ładny obrazek*/
.project_picture {
	margin:15px;
	text-align:center;
	box-shadow: 5px 10px 5px grey;
	float:left;
	width:47%;
	position:relative;
	padding-bottom:-100px;
	color:white;
}
.overlay1 {
	position:absolute;
	bottom:100%;
	left:0;
	right: 0;
	background-color: #4d4d4d;
	overflow:hidden;
	height:0;
	transition: .5s ease;
}
.project_picture:hover .overlay1 {
	bottom:0;
	height:100%;
}
.project_text {
	white-space:nowrap;
	color:white;
	font-size:25px;
	position:absolute;
	text-align:center;
	transform: translate (-50%, -50%);
	-ms-transform: translate(-50%.-50%);
    top: 40%;
    left: 40%;
}
.project_text a {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 5px;
	margin: 20px 16px;
    text-decoration: none;
}
.project_text a:hover:not(.active) {
    border-bottom: 2px solid white;
}
.project_foto {
	width:40%;
	float:left;
}
.element_name {
	color:#4d0000;
	font-variant: small-caps;
	text-align:center;
	font-size:40px;
}
@media screen and (max-width: 1000px) {
	.project_picture {
		width:90%;
		box-shadow: 0px 10px 5px grey;
		margin:5%;
	}
}
.element{
	width:100%;
	height:100%;}
.loader {
	position:relative;
	left:35%;
	margin-bottom:20px;
	border: 20px solid rgba(255,255,255,0.2);
	border-radius: 50%;
	border-top: 20px solid rgba(255,255,255,0.8);
	width: 150px;
	height: 150px;
	-webkit-animation: spin 3s linear infinite; /* Safari */
	animation: spin 3s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
